/*
Custom Css
*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Ensures all cards are the same height */
}

.card img {
  height: 200px; /* Fixed height for images */
  object-fit: contain; /* Ensures images fit nicely within the space */
}

.card-body {
  flex-grow: 1; /* Ensures consistent height for the card content */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body .h3 {
  font-size: 1rem; /* Ensure consistent font size */
  margin-bottom: 10px;
  text-align: center; /* Center-align the titles */
}

.card-body p {
  font-size: 1rem;
  text-align: center;
}
